/* get neighborhoods button */
.createItineraryButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    max-width: 300px;
}

.createItineraryButton{
    background-color: #FC4869;
    border: none;
    color: #F3EFEF;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: .5rem 2px;
}

.disabled{
    background-color: #FF7890;
}

p.styles.heading{
    animation: typing 1s steps(1, end) infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    width: fit-content;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: fit-content;
    }
  }


/* Neighborhood suggestion section */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    max-width: 440px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto';
    transition: background-color 0.3s;
    cursor: pointer;
  }


  .card:hover {
    background-color: #eee;
    position: relative;
  }
  
  .cardActive {
    background-color: #ece9e9;
    position: relative;
  }
  .selectedText {
    text-align: right;
    font-size: 12px;
    position: absolute;
    top: 4px; /* Adjust the positioning as needed */
    right: 4px; /* Adjust the positioning as needed */
    padding: 4px 8px; /* Add some padding to the text */
    color: #000;
    font-weight: bold;
    z-index: 1; /* Set a higher z-index to make it visible above other elements */
  }
  /* Add other styles as needed... */
  .rating {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .description {
    font-size: 14px;
  }
  
  .icon {
    font-size: 24px;
    color: #fddb3a;
    margin-right: 8px;
  }

  